@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    background-color: #14161b;
  }
}

.slick-slide > div {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li.slick-active button:before {
  color:orange !important;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1F7FD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-links{
  text-decoration: none;
  letter-spacing: 0.04em;
}
.nav-links:hover{
  color: #ED3327;
}
.custom-tooltip {
  background-color: white !important; /* Adjust the background color */
  color: black !important; /* Adjust the text color */
  border-radius: 20px;
  border: 1px solid lightgrey;
  
}
/* For small screens (sm) */
@media only screen and (max-width: 600px) {
  .carousel-item {
    top: 200px;
  }
}

/* For medium screens (md) */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .carousel-item {
    top: 140px;
  }
}

/* For large screens (lg) */
@media only screen and (min-width: 1200px) {
  .carousel-item {
    top: 0;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .right-images{
  width: 70px;
    height: 70px;
  }

}

/* For medium screens (md) */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .right-images{
     width: 100px;
    height: 100px;
  }
}

/* For large screens (lg) */
@media only screen and (min-width: 1200px) {
  .right-images {
    width: 125px;
    height: 125px;
  }
}

.slick-prev,
.slick-next {
  display: none !important;
}



.Pods {
  padding-left: 30px; /* Adjust the padding value to give space for the icon */
  width: 240px;
  border: 1px solid lightgrey;
  border-radius: 80px;
  position: relative;
  padding: 10px 0px 10px 30px;
  background-image: url('assets/Search.svg'); /* Replace with the correct path */
  background-size: 20px; /* Adjust the size of the icon */
  background-repeat: no-repeat;
  background-position: 5px center; /* Adjust the position of the icon */
}

@media (min-width: 350px) {
  .Pods {
    width: 280px; 
  }
}

@media (min-width: 375px) {
  .Pods {
    width: 305px; 
}
}

@media (min-width: 425px) {
  .Pods {
    width: 355px;
  }
}

/* SearchField.css */
.podss {
  position: absolute;
  text-align: start;
  left: 10px; /* Adjust the left value as needed */
  top: 50%; /* Adjust the top value as needed */
  transform: translateY(-50%);
}


.Faq-class{
  font-size: 20px;
  font-weight: bold;
}